{{>header}}

    	<!-- breadcrumbs start -->
		<section class="breadcrumbs-area breadcrumb-opacity bg-fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="breadcrumbs">
                            <h2 class="page-title">Contact Us</h2>
                            <ul>
                                <li>
                                    <a class="active" href="/">Home</a>
                                </li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumbs end -->

         <!--contact area are start-->
        <section class="contact-area ptb-90">
            <div class="container">
                <div class="row">
                    <!-- Maps
                    <div class="col-xs-12">
                        <div class="contact-area-all">
                            <div id="techBoot2"></div>
                        </div>
                    </div>
                    -->
                    <div class="col-xs-12">
                        <div class="conract-area-bottom">
                            
                            <h3 class="main-contact">Contact Us</h3>

                            <div class="contact-us-details">
                                <div class="row text-center">
                                    <div class="col-sm-5 col-xs-12">
                                        <div class="address-part cud-top">
                                            <span aria-hidden="true" class="icon-map"></span>Pham The Hien, House#A21/5, County 8, HCM, VN. 
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="phone-part cud-top">
                                            <span aria-hidden="true" class="icon-phone"></span>0903 774 860
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="mail-part cud-top">
                                            <span class="icon-envelope" aria-hidden="true"></span>hoangnghia@gmail.com
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4 class="main-contact">We're happy to hear from you</h4>

                            <form id="contact-form" action="mail.php" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="main-input">
                                            <input name="name" placeholder="Name*" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="main-input mrg-eml mrg-contact">
                                            <input name="email" placeholder="Email*" type="email" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="main-input mt-20 mb-20">
                                            <input name="subject" placeholder="Subject*" type="text" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="text-leave2">
                                            <textarea name="message" placeholder="Here Tyep Your Mssage..."></textarea>
                                            <div class="submit-area">
                                                <button class="submit" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--contact area are end-->

{{>footer}}