<div id="particles-js">
  <div class="lock-wrapper">
    <div class="row">
      <div class="col-12 form-box">
        <div class="row">

          <form class="form-signin" >
            <h2 class="form-signin-heading">Send Email</h2>

            <label for="email" class="sr-only">Your Email</label>
            <input type="email" id="email_inp" name="email" class="form-control" placeholder="Email" required autofocus>
            <br />
            <div class="btn-box">
              <button class="btn btn-verify" type="button" onclick="sendEmailVerify()">
                <div class="spinner-border hidden" role="status" id="spinner-send">
                          <span class="sr-only">Loading...</span>
                </div>
                <span id="text-send">
                  Send email
                </span>
              </button>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function sendEmailVerify(){
    let email = $("#email_inp").val()
    if(!email)  return alertify.error('Please input email!');
    $('#text-send').addClass("hidden")
    $('#spinner-send').removeClass("hidden")
    let posting = $.ajax({
        url: `${window.location.origin}/verify/get-email`,
        type: 'POST',
        data: {
          email
        },
        success: function (msg) {
          console.log('res', msg);
          $('#spinner-send').addClass("hidden")
          $('#text-send').removeClass("hidden")
          alertify.success('Success!');
           var a = document.createElement('a'); 
            a.href = `${window.location.origin}/verify/get-secretToken`;
            a.click()
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          $('#spinner-send').addClass("hidden")
          $('#text-send').removeClass("hidden")
          console.log({
            XMLHttpRequest,textStatus,errorThrown
          })
          alertify.error(XMLHttpRequest.responseJSON.message);
        }
      });
  }
  
</script>