<form class="form-signin" action="/verify/updatePassword" method="POST">
    <h2 class="form-signin-heading">Type your new password</h2>

    {{!-- <label for="email" class="sr-only">Your Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email"
        required autofocus>

      <br />         --}}

 
    <input type="text" id="newPassword" name="newPassword" class="form-control" placeholder="New Password"
        required autofocus>

    <br />

     <input type="text" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Your Password"
        required autofocus>

    <br />

    <button class="btn btn-lg btn-default btn-block" type="submit">Verify</button>
</form>