
<form class="form-signin" action="/verify/get-secretToken" method="POST">
    <h2 class="form-signin-heading">Verify Your Token</h2>

    {{!-- <label for="email" class="sr-only">Your Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email"
        required autofocus>

      <br />         --}}

    <label for="secretToken" class="sr-only">Secret Token</label>
    <input type="secretToken" id="secretToken" name="secretToken" class="form-control" placeholder="Secret Token"
        required autofocus>

    <br />

    <button class="btn btn-lg btn-default btn-block" type="submit">Verify</button>
</form>