 <footer class="footer-bg text-left footer-style-1">
			<div class="footer-area">
				<div class="container">
				   <div class="row">
					   <div class="col-sm-8">
						  <div class="footer-left">
							<div class="footer-info">
								<div class="footer-logo">
									<a href="index.html">bloge<span>.</span></a>
									<p>Follow Our Social Links.</p>
								</div>
								<div class="footer-socila-area">
									<ul class="member-social social-style-3">
										<li><a class="m-facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
										<li><a class="m-twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
										<li><a class="m-g-plus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
										<li><a class="m-linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
										<li><a class="m-drible" href="#"><i class="zmdi zmdi-dribbble"></i></a></li>
									</ul>  
								</div>
								<div class="footer-menu">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">about</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Service</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="footer-bottom">
								<div class="copyright">
									<p>© 2017 <a href="#">techBoot</a>, All Rights Reserved.</p>
								</div>
							</div>
						  </div> 
					   </div>
						<div class="col-sm-4">
						   {{!-- <div class="instgram-feed">
							   <div class="widget-title">
								   <h5> Instgram Photo's </h5>
							   </div>
								<ul>
									<li><a href="#"><img src="img/instgram/1.jpg" alt=""></a></li>
									<li><a href="#"><img src="img/instgram/2.jpg" alt=""></a></li>
									<li><a href="#"><img src="img/instgram/3.jpg" alt=""></a></li>
									<li><a href="#"><img src="img/instgram/2.jpg" alt=""></a></li>
									<li><a href="#"><img src="img/instgram/3.jpg" alt=""></a></li>
									<li><a href="#"><img src="img/instgram/1.jpg" alt=""></a></li>
								</ul>
						   </div> --}}
               				<!-- Widget : Newsletter -->
							<aside class="widget widget_newsletter">
								<div class="newsletter-box">
									<i class="ion-ios-email-outline"></i>
									<h4>Sign Up for Newsletter</h4>
									<p>Sign up to receive latest posts and news </p>
									<form>
										<input type="text" class="form-control" placeholder="Your email address" />
										<input type="submit" value="Subscribe Now" />
									</form>
								</div>
							</aside><!-- Widget : Newsletter /- -->
					   </div>
				   </div>
				</div>
			</div>		
		</footer>