<div id="particles-js">
  <div class="lock-wrapper">
    <div class="row">
      <div class="col-12 pending-box">
        <div class="row">
          <div class="col-3 icon-avatar">
            <i class="far fa-check-circle"></i>
          </div>
          <div class="col-9">
            <div class="pending-content text-warning row">
              Your account has expired or not register `premium`.
              <strong>Please contact to admin!</strong>
            </div>
            <div class="row">
              <div class="col-12 text-right mt-2">
                  <a class="mr-5 " href="/">Home</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>