 
 <div id="particles-js">
   <div class="lock-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="lock-box glass">
                        <div class="main">
                            <h3>Please Log In, or <a href="#">Sign Up</a></h3>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                                </div>
                            </div>
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                            <form role="form">
                                <div class="form-group">
                                    <label for="inputUsernameEmail">Username or email</label>
                                    <input type="text" class="form-control" id="inputUsernameEmail">
                                </div>
                                <div class="form-group">
                                    <a class="pull-right" href="#">Forgot password?</a>
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword">
                                </div>
                                <div class="pull-left pad-btm mt-3">
                                    <div class="checkbox">
                                        <label class="form-checkbox form-icon form-text">
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    </div>
                                </div>
                                <a href="/dashboard" class="btn btn btn-primary pull-right mt-3">
                                    <div  style="color:white;">Log In</div>
                                </a>
                            </form>

                        </div>

                    </div>
                </div>

            </div>
        </div>
 </div>
 