<div class="head">
    <div class="top">
        <div class="name-profile"> Hoàng Nghĩa</div>
    </div>
    <img class="image-profile" src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/20799261_124265284869755_4784260197201767914_n.jpg?_nc_cat=110&_nc_oc=AQl70OPY6_lMUcpRtHHQWxaNJJ7L6-0IO0JpBLNmmAEvXDLIhGTomDte9Sql4dPU3q_0DKB9h7vvVVw7M6PtfXh4&_nc_ht=scontent.fsgn5-3.fna&oh=7f78fa2d8b018e5fc9224df228cf351c&oe=5D2D6BA3">
    <div class="bottom">
        <div class="job-profile">Student of HCMUS</div>
        <div class="address-profile">VN, HCM City, County 8</div>
    </div>
    <div class="row-logout"></div>
</div>