.breadcrumbs-area {
    background: rgba(0, 0, 0, 0) url(https://www.corrs.com.au/assets/expertise/secondary/article-corporate-foreign-investment-in-australian-technology-do-we-need-a-firrma-approach-hero.jpg) no-repeat scroll 0 0;
    padding: 60px 0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

