#container {
  min-height: 95vh;
  height: auto;
  position: relative;
  min-width: 290px; 
  overflow: hidden;
  -webkit-transition: opacity .5s linear 1s;
  transition: opacity .5s linear 1s;
}
.lock-wrapper {
  margin: 15% auto;
  max-width: 550px;
  position: absolute;
  left: 0;
  right: 0;
}
.select-box{
  padding: 40px;
  background: #f9f9f9;
  border-radius: 8px;
}

.pending-content{
  margin-top: 12px;
  font-size: 17px;
}
.form-input {
  border: 1px solid #e0e0e0;
  background: white;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 15px;
  width: 100%;
  color: #616161;
  font-weight: 400;
  transition: .1s ease-in-out;
}